[submodule "modules/bootstrap-sass"]
	path = modules/bootstrap-sass
	url = https://github.com/thomas-mcdonald/bootstrap-sass.git
[submodule "modules/font-awesome"]
	path = modules/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
